@{
    ViewData["Title"] = "Account";
    var cookies = Context.Request.Cookies;
}
<div class="container">
    <h1 class="mt-5">Account Information</h1>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Cookie Values</h5>
            <ul>
                @foreach (var c in cookies)
                {
                    <li>@c.Key : @c.Value</li>
                }
            </ul>
        </div>
    </div>
