@model GymPlanner.Models.WorkoutDay
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h4>WorkoutDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DayName" class="control-label"></label>
                <input asp-for="DayName" class="form-control" />
                <span asp-validation-for="DayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingProgramId" class="control-label"></label>
                <select asp-for="TrainingProgramId"
                        class="form-control"
                        asp-items="ViewBag.TrainingProgramId">
                    <option value="">-- Choose program --</option>
                </select>
                <span asp-validation-for="TrainingProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p>
    <a asp-controller="WorkoutDays" asp-action="Index"
       asp-route-programId="@ViewBag.ProgramId">Back to Days</a>
</p>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}