@{
    ViewData["Title"] = "About Us";
}

@section Styles {
    <style>
        .box {
            background: rgb(228, 228, 228);
            border: 1px solid #545454;
            padding: 15px;
            border-radius: 12px;
            margin-top: 25px;
        }
    </style>
}
<br>
<h2 style="margin-left: 100px;">Our Mission</h2>
<div class="box">
    <p>
        Our goal is to bridge the gap between trainers and trainees in the lifting community.
        We provide a specialized platform that allows trainers to <strong>
            manage and evaluate
            performance in real-time
        </strong>. Unlike standard apps, our system focuses on
        synchronization, enabling trainers to track workout, modify plans instantly.
    </p>
</div>
<h3 style="margin-left: 100px;">
    Why Choose Us?</h2>
    <article class="box">

        <p>We offer distinct features that set us apart from other fitness apps:</p>
        <ul>
            <li>
                <strong>Direct Modification:</strong> Trainers can update training programs instantly.
            </li>
            <li>
                <strong>Real-Time Monitoring:</strong> View workout completion and consistency as it happens,
                rather than waiting for a weekly report.
            </li>
            <li>
                <strong>Video Integration:</strong> YouTube links to exercises to demonstrate proper technique directly within the plan.
            </li>
        </ul>
    </article>

