@{
    ViewData["Title"] = "Privacy";
}

@section Styles {
    <style>
        .box {
            background: rgb(228, 228, 228);
            border: 1px solid #545454;
            padding: 15px;
            border-radius: 12px;
            margin-top: 25px;
        }
    </style>
}
<h1>Privacy Policy</h1>

<div class="box">
    <p>
        This page describes how your data is handled inside the Gym Program Planner project.
        No personal information is shared with any third-party service.
        Your login data and workout programs will be used only for educational purposes within this project.
    </p>

    <p>
        By using this website, you agree that your information is handled
        only for functionality demonstration inside the CPIS course project.
    </p>
</div>


